{% extends "base.html" %} {% block title %}Here Come Dat Boi{% endblock %} {% block content%}
<form action="/Poll1">
  <input type="submit" value="Poll 1" />
</form>
<form action="/Poll2">
  <input type="submit" value="Poll 2" />
</form>
<form action="/Poll3">
  <input type="submit" value="Poll 3" />
</form>
<form action="/Poll4">
  <input type="submit" value="Poll 4" />
</form>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
    <h1 align="center">HIER KNALLEN WIR NE UMFRAGE REIN</h1>
    <form method="POST">
      <div align="center"> 
        <div id="container">
          </div>
          <script src="script.js"></script>
        </div>
      </div>
      <div align="center"> 
    </form>
    <img src="https://upload.wikimedia.org/wikipedia/en/f/f9/Dat_Boi_%28resized_50%25%29.jpg" alt="MDN">
    
    {% endblock %}
    