{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 2; background-color: hotpink;}
.div2 { grid-area: 1 / 2 / 5 / 3; background-color: orange;}
</style>
<div align="center">
  <img align="center" src="https://loginportal.funnyjunk.com/comments/+_af3e7229ea4d256c17dc900f78a0113f.jpg" alt="MDN">
  <h2>Disclaimer:</h2>
   <div align=left>>Ich weiß auch nich wie das hier funktionieren soll und AJAX is ein hond. Also klick net zu viel rum</div>
 <div align=left>>die Buttons machen ihre Arbeit perfekt, auch wenn du das nicht sofort siehst ok?</div>
   <div align=left>>Bei risiken und Nebenwirkungen komm ich vorbei und scheiß dir aufn Laptop.</div>
</div>


{% endblock %}
