{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 2; background-color: hotpink;}
.div2 { grid-area: 1 / 2 / 5 / 3; background-color: orange;}
</style>
<h1 align="center">
  <img align="center" src="https://loginportal.funnyjunk.com/comments/+_af3e7229ea4d256c17dc900f78a0113f.jpg" alt="MDN">
<div class="parent">
      <style type="text/css">
        .tg {
          border-collapse: collapse;
          border-spacing: 0;
        }
    
        .tg td {
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 20px;
          word-break: normal;
        }
    
        .tg th {
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-weight: normal;
          overflow: hidden;
          padding: 10px 20px;
          word-break: normal;
        }
    
        .tg .tg-baqh {
          text-align: center;
          vertical-align: top
        }
    
        .tg .tg-9ydz {
          border-color: #333333;
          font-weight: bold;
          text-align: center;
          vertical-align: top
        }
    
        .tg .tg-i81m {
          background-color: #ffffff;
          text-align: center;
          vertical-align: top
        }
      </style>
      <div class="parent">
        <table class="tg" style="undefined; table-layout: fixed; width: 574px">
          <colgroup>
            <col style="width: 273px">
            <col style="width: 301px">
          </colgroup>
          {% if isActive %}
          <thead>
            <tr>
              <th class="tg-9ydz" colspan="2" style=" background-color:rgb(186, 255, 129);">Umfrage: {{22}} -
                Active: {{isActive}}</th>
            </tr>
          </thead>
          {% else %}
          <thead>
            <tr>
              <th class="tg-9ydz" colspan="2" style=" background-color:rgb(255, 129, 129);">Umfrage: {{22}} -
                Active: {{isActive}}</th>
            </tr>
          </thead>
          {% endif %}
          <tbody>
            <tr>
              <td class="tg-baqh" colspan="2"><span style="font-style:italic">{{2222}}</span></td>
            </tr>
            <tr>
              <td class="tg-baqh">{22</td>
              <td class="tg-baqh">%</td>
            </tr>
            <tr>
              <td class="tg-i81m"> 2sdfsdfsf</td>
              <td class="tg-baqh">%</td>
            </tr>
            <tr>
              <td class="tg-baqh">2525235235235td>
              <td class="tg-baqh">%</td>
            </tr>
            <tr>
              <td class="tg-i81m">235235235235235]}}</td>
              <td class="tg-baqh">%</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </form>
    </div>
  </div>
  <div>neben div 1</div>
</div>
  <div class="div2">
    <div align=left>XxX</div>
    <div align=center>XxX</div>
    <div align=right>XxX</div>
  </div>

{% endblock %}
