{% extends "base.html" %} {% block title %}Here Come Dat Boi{% endblock %} {% block content%}
    <form method="POST">
      <div align="center"> 
        <div id="container">
          </div>
          <script src="script.js"></script>
        </div>
      </div>
      <div align="center"> 
    <img src="https://i.kym-cdn.com/photos/images/facebook/001/005/935/ef1.jpg" alt="MDN">
    </div>
    <div align="center"> 
     <form method="POST">
      <a class="btn btn-outline-success" href="/DatBoy" role="button">These are not the druids im looking for</a>
     </form>
    </div>
    
    {% endblock %}
    